altgraph==0.17.4
click==8.1.8
packaging==24.2
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.16.1
pyqt5ac==1.2.1
python-bitcoinrpc==1.0
python-dotenv==1.0.1
PyYAML==6.0.2
setuptools==75.8.0
watchdog==6.0.0
